$primary-color: #444;
$secondary-color: #bbb;
$link-color: #79f;

/* Reset */
* {
  padding: 0;
  margin: 0;
}
/* Basic Typography */
html, body {
  color: $primary-color;
  font: 1.1em/1.5em "Helvetica", "Arial", sans-serif;
}
/* Blocks */
html {
  height: 100%;
}
body {
  max-width: 40em;
  margin: auto;
}
header {
  padding: 0.8em 0;
  border-bottom: 1px $secondary-color solid;
  font-size: 1.9em;
  text-align:center;
}
main {
  display: block;
  padding-bottom: 2em;
}
p {
  margin: 1em 0;
  text-align: justify;
}
/* Headings */
@mixin heading($font-size) {
  margin: 0.8em 0 0.5em;
  font-size: $font-size;
  line-height: 1.2em;
}
h1 {
  @include heading(2.5em);
}
h2 {
  @include heading(1.5em);
}
h3 {
  @include heading(1.2em);
}
h4 {
  @include heading(1em);
}
/* Page Elements */
img {
  max-width: 100%;
}
a {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
ul, ol {
  margin-left: 3em;
}
pre {
  padding: 0.5em;
  background: $secondary-color;
  line-height: 2em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}
/* Header */
header {
  & a {
    color: $primary-color;
  }
}
/* Post list */
.posts {
  margin-left: 0;
  list-style-type: none;
  & .post-title {
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
  }
  & .post {
    margin-top: 1.5em;
  }
}
/* Post date */
time {
  color: $secondary-color;
  white-space: nowrap;
}
/* Small Screens */
@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  main {
    padding: 0 2em 1em;
  }
  ul, ol {
    margin-left: 2em;
  }
}
/* Tiny Screens */
@media only screen and (max-width: 350px) {
  header {
    padding: 0.5em;
  }
  main {
    padding: 0 1.2em 0.6em;
  }
}
