$primary-color: #444;
$secondary-color: #bbb;
$link-color: #679cff;

/* Reset */
* {
  padding: 0;
  margin: 0;
}
/* Basic Typography */
html, body {
  font: 300 1em/1.5em "Helvetica", "Arial", sans-serif;
  color: $primary-color;
}
/* Blocks */
html {
  height: 100%;
}
body {
  max-width: 45em;
  margin: auto;
}
header {
  font-size: 1.9em;
  padding: 0.8em 0;
  border-bottom: 1px $secondary-color solid;
  text-align:center;
}
main {
  padding-bottom: 1.4em;
  font-size: 1.5em;
  line-height: 2em;
  display: block;
  width: 100%;
}
p {
  margin: 1em 0;
  text-align: justify;
}
/* Headings */
@mixin heading($font-size) {
  font-size: $font-size;
  line-height: 1.2em;
  margin: 0.8em 0 0.5em;
}
h1 {
  @include heading(2.5em);
}
h2 {
  @include heading(1.9em);
}
h3 {
  @include heading(1.4em);
}
h4 {
  @include heading(1.3em);
}
/* Page Elements */
img {
  max-width: 100%;
}
a {
  font-weight:700;
  text-decoration:none;
  color: $link-color;
  &:hover {
    text-decoration:underline;
  }
}
strong {
  font-weight: 700;
}
ul, ol {
  margin-left: 3em;
}
pre {
  line-height: 2em;
  background: $secondary-color;
  padding: 0.5em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
}
/* Header */
header {
  & a {
    color: $primary-color;
    &:hover {
      text-decoration: none;
    }
  }
}
.follow-icons {
  display: inline-block;
  & img {
    width: 0.8em;
    height: 0.8em;
    border: 0;
    outline: no
  }
  & a {
    margin-left: 0.5em;
  }
}
/* Post list */
.posts {
  margin-left: 0;
  list-style-type: none;
  & .post-title {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  & .post:first-child {
    margin-top: 2em;
  }
}
/* Post date */
.post-date {
  margin-top: 0;
  color: $secondary-color;
}
/* Small Screens */
@media only screen and (max-width: 800px) {
  body {
    padding: 0;
  }
  main {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-left: 0;
    padding: 0 2em 1em;
    width: auto;
  }
}
/* Tiny Screens */
@media only screen and (max-width: 320px) {
  header {
    padding: 0.5em;
  }
  .follow-icons {
    padding-top: 0.5em;
    display: block;
    & a:first-child {
      margin-left: 0em;
    }
  }
  main {
    padding: 0 1.2em 0.6em;
  }
  ul, ol {
    margin-left: 2em;
  }
}
