<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} by Csaba Palfi </title>
  <link href="/assets/main.css" rel="stylesheet" >
  <link href='http://fonts.googleapis.com/css?family=Muli:400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
  <script src="/assets/analytics.js"></script>
  <meta name="viewport" content="width=device-width">
  <meta name="google-site-verification" content="6TbV2PA_LeVUWCwxq3-tAut_Vw8yBPnoV-5wZryvcEU" />
</head>
<body>
  <header>
    <h1>{{ page.title }}</h1>
    <nav>
      <ul>
          <li>by <a href="/">Csaba Palfi</a></li>
          <li><a href="https://twitter.com/csabapalfi"><i class="icon-twitter"></i></a></li>
          <li><a href="http://github.com/csabapalfi"><i class="icon-github"></i></a></li>
          <li><a href="http://www.linkedin.com/in/csabapalfi"><i class="icon-linkedin"></i></a></li>
      </ul>
    </nav>
  </header>
  <section {% if page.post %} class="post" {% endif %}>
      {{ content }}
  </section>
  {% if page.post %}
    <footer>
      <nav>
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="https://twitter.com/csabapalfi"><i class="icon-twitter"></i></a></li>
          <li><a href="http://github.com/csabapalfi"><i class="icon-github"></i></a></li>
          <li><a href="http://www.linkedin.com/in/csabapalfi"><i class="icon-linkedin"></i></a></li>
        </ul>
      </nav>
    </footer>
  {% endif %}
</body>
</html>
