<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>{{ page.title }} by Csaba Palfi </title>
  <link rel="alternate" href="/atom.xml" title="Atom" type="application/atom+xml">
  <link rel="stylesheet" href="/assets/stylesheets/main.css">
  <script src="/assets/javascript/ga.js"></script>
</head>
<body>
    <header class="container">
        <h1><a href="{{ page.url }}">{{ page.title }}</h1>
        <p>by <a href="/">Csaba Palfi</a></p>
        {% if page.date %}
            <p>{{ page.date | date_to_string }}</p>
        {% endif %}
    </header>
    <section class="container">
        {{ content }}
    </section>
    <footer class="container">
        <h3>Find me on
        <ul>
            <li><a href="https://twitter.com/csabapalfi">Twitter</a>,</li>
            <li><a href="http://github.com/csabapalfi">GitHub</a>,</li>
            <li><a href="http://www.linkedin.com/in/csabapalfi">LinkedIn</a> or</li>
            <li><a href="https://plus.google.com/+CsabaPalfiMe?rel=author" rel="author">Google+</a></li>
        </ul>
    </footer>
</body>
</html>
